@media screen and (max-width: 1200px) {
  .container {
    max-width: auto;
  }

  /*  */
.hero .tx{
      gap: 16%
}
  /* 首頁列表 */
  .prod h2 {
    margin-left: 5vw;
  }

  .prod h2+a {
    margin-right: 5vw;
  }


  /* 個別產品 */
  .prodone h2 {
    margin-left: 5vw;
  }

  /* 實體通路 */
  .loca h2 {
    margin-left: 5vw;
  }

  #area {
    margin-right: 5vw;
  }

  /* 產品列表 */
  .prodAll>.container>h2 {
    margin-left: 5vw;
  }

  .btn-tofilter {
    margin-right: 5vw;
  }
}

@media screen and (max-width: 1175px) {
  .prod .container ul {
    flex-wrap: wrap;
    margin: 84px auto 0;
    justify-content: flex-start;
  }
}

/* Combining both: styles apply within a range */
@media screen and (min-width: 760px) and (max-width: 1175px) {
  .prod .container ul {
    width: calc(360px * 2 + 36px);
    /* width: calc(360px * 2 + 36px);
    flex-wrap: wrap;
    margin: 84px auto 0;
    justify-content: flex-start; */
  }

  /* Styles for tablets only */
}



@media screen and (max-width: 1068px) {

  /* 首頁hero */
  h1 {
    font-size: 3.75rem;
  }

  .hero .tx {
    gap: 12%;
    padding: 3%;
  }

}


@media screen and (max-width: 883px) {

  /*  */
  .hero p {
    font-size: 1.2rem;
  }

  /*------------footer*/
  footer>img {
    width: 16vw;
    max-width: 104px;
    position: absolute;
    left: 3%;
    top: auto;
    bottom: 3%;
  }

  footer ul {
    gap: 4%;
    padding: 3%;
    /* padding-bottom: 12%; */
  }

  footer .soc {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 820px) {
  * {}

  h2 {
    font-size: 1.75rem;
  }

  .container {
    /* max-width: 95%; */
  }

  /* --------------header----------- */
  header .container,
  .hd {
    height: 60px;
  }

  /* ------------hero頁------------- */
  .hero {
    padding-top: 60px;
  }

  .hero .tx {
    top: 22%;
    left: 50%;
    transform: translateX(-65%);
    padding-left: 2.5%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  /* -----------------------首頁卡片--------------------------- */
  .pros,
  .prod,
  .loca {
    padding: 32px 0;
  }

  .pros {
    margin: 16px auto;
  }

  .pros article {
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 32px;
  }

  .pros h2 {
    margin-bottom: 18px;
  }

  .fo.tx {
    padding-right: 0;
    flex-basis: auto;
  }

  .eye.tx,
  .su.tx {
    order: 1;
    padding-left: 0;
    flex-basis: auto;
  }

  /* --------------首頁產品列表------------------------ */

  .prod ul {
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
  }



  /*-----------------------實體通路-----------------*/


  .f {
    display: flex;
    flex-direction: column-reverse;
    gap: 5vh;
    margin-top: 44px;
    justify-content: center;
    align-items: center;
  }

  .map {
    width: 100%;
  }

  .map iframe {
    box-sizing: border-box;
    width: 100%;
  }

  /* ----------------------關於我們---------------------------- */
  .about {
    padding: 0;
  }

  .wra {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .wra .tx {
    padding: 10%;
    width: 100%;
  }

  .wra img {
    margin: 10%;
    width: 80%;
  }

  /*------------footer*/

  /*-----------------------產品列表----------------------*/
  .prodAll>ul {
    /* max-width: calc(360px * 2 + 36px); */

  }

  .prodAll>.container>h2 {
    display: inline-block;
  }

  .btn-tofilter {
    margin-right: 5vw;
  }

  .prodAll ul.page .dir img {
    width: 32px;
    height: 32px;
    display: block;
  }

  /* --------------------篩選------- */
  .popup {
    max-height: 100vh;
  }

  .popup.active {
    display: block;
    position: fixed;
    top: 54%;
  }

  .content {
    padding: 2% 0 0;
    gap: 3%;
    max-height: fit-content;
  }

  .popup-btns {
    padding: 2%;
  }

  .opt {
    gap: 15%;
  }

  /*---------------------產品個別頁-------------------------------------*/
  main .outer {
    flex-wrap: wrap;
  }



  .outer .pics {
    flex-direction: row;
    /* gap: ?px; */
    order: 2;
  }

  .pics button img {
    transform: rotate(-90deg);
  }

  .pics button img:hover {
    transform: rotate(-90deg) scale(1.2);
  }

  .pd_tx {
    flex-direction: column;
    order: 3;

  }

  main+.bg p {
    padding: 0 3vw;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      'h2'
      'mon'
      'sto'
      'cpu'
      'con'
      'bat'
      'wp';
    margin: 5% auto 10%;
  }

  .monitor,
  .stora,
  .cpu,
  .connect,
  .battery,
  .waterproof {
    padding: 3vw;
  }
}

@media screen and (max-width: 554px) {

  /* header */
  header .container,
  .hd {
    height: 48px;
  }

  header .logo {
    margin-left: 12%;
    margin-top: 12%;
  }

  .transition {
    transition: .8s;
  }

  .bar-outer {
    margin-right: 2%;
    cursor: pointer;
  }

  .menu {
    display: inline-block;
    position: relative;
  }

  .menu ul.hd {
    display: none;
    opacity: 0;
    height: auto;
    margin-right: 0;
    border-radius: 12px;
    text-align: center;

    position: absolute;
    right: 0;
    top: 48px;
    background-color: #e8e5dc;
    width: 40vw;
  }

  .menu.active ul {
    display: block;
    opacity: 1;
  }

  .menu ul.hd li {
    display: block;
    border-bottom: 1px solid #404040;
  }

  .menu ul.hd li:last-child {
    border-bottom: none;
  }

  .hd a {
    line-height: 48px;
  }

  .hd img {
    vertical-align: middle;
  }

  .bar {
    width: 30px;
    height: 5px;
    background-color: #404040;
    margin: 5px 0;
    border-radius: 3px;
  }

  .menu.active .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  .menu.active .bar2 {
    opacity: 0;
  }

  .menu.active .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
  }

  /* -------------hero */
  h1 {
    font-size: 2rem;
  }

  /* ---------------產品列表--------------------- */
  .prodAll ul.page .dir img {
    width: 20px;
    height: 20px;
  }

  /*------------footer*/
  footer {
    height: 220px;
  }

  footer>img {
    width: 16vw;
    position: absolute;
    left: 3%;
    top: 58%;
  }

  footer ul {
    justify-content: center;
    padding: 3%;
  }

  footer li {
    font-size: 0.8rem;
  }
}












/* ------------------------------------ */
@media screen and (max-width: 440px) {

  /* p, a, span{
    /* font-size: 0.8rem; */
  /* } */
  h2 {
    font-size: 1.3rem;
  }

  /* 頁首 */
  h1 {
    font-size: 1.5rem;
  }

  .hero .tx {
    gap: 5%;
    height: 73%;
    top: 16%;
    left: 47%;
  }


  header {
    position: relative;
  }

  .menu ul.hd {
    top: 43px;
  }



  /* ------------hero頁------------- */
  .hero {
    padding-top: 0;
  }

  .hero .bgc {
    width: 30%;
  }

  .hero img {
    width: 70%;
  }

  /* ----------------首頁卡片-------------------- */
  .pros img {
    width: 100%;
    height: fit-content;
  }

  /* 首頁產品 */
  .prod .container ul {
    width: auto;
    justify-content: center;
  }

  .prod img {
    border-radius: 16px;
    width: 100%;
  }

  .prod p {
    padding: 0 8%;
  }

  /* ----------------實體通路 */
  .thr,
  .wes,
  .dre {
    width: 97vw;
  }

  /*----------------------產品總表*/
  .prodAll {
    padding-top: 2%;
    padding-bottom: 84px;
  }

  .prodAll ul.page {
    width: 100%;
  }

  .content {
    gap: 0;
    padding: 0;
    padding-left: 1%;
    max-height: fit-content;
  }

  .content h3 {
    font-size: 1rem;
  }

  .c {
    padding: 2%;
  }

  .opt {
    gap: 5%;
  }

  .opt span {
    font-size: 0.8rem;
  }

  .popup-top {
    padding: 3.5%;
  }

  .popup-btns {
    margin-top: 0;
  }

  /*------------footer*/
  footer {
    height: 220px;
  }

  footer>img {
    width: 16vw;
    position: absolute;
    left: 3%;
    top: 68%;
  }

  footer ul {
    gap: 1%;
    padding: .5%;
    padding-top: 2.5%;
  }

  footer li {
    font-size: 0.75rem;
  }

  /* ---------------------產品個別 */
  .prodone {
    overflow: hidden;
    padding-top: 5%;
  }

  .pd_tx {
    padding: 3%;
  }
img.big {
  width: 100%;
  height: auto;
}

.pics img {
  /* 圖片 */
  width: 20%;
  height: 20%;
}

.pics button img {
  /* 按鈕 */
  width: 100%;
  height: 100%;
}

.pics button {
  padding: 0;
}

.outer .pics {
  gap: 1%;
}
}

@media screen and (max-width: 415px) {


  footer li img {
    width: 9%;
  }

  footer .soc img {
    width: 5%;
  }
}