@import url(reset.css);

body {
  position: relative;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  color: #404040;
}

a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.5;
}

p, li{
  font-size: 1rem;
  line-height: 1.5;
  color: #404040;
}
/* --------------置中& 拉滿--------------- */
.bg{
  background-color: #e8e5dc;
  width: 100%;
}
.container{
  max-width: 1200px;
  margin: 0 auto;   
}
/* -------------頁首----------------- */
header .logo {
  height: 40px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.hd {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 12px;
}

.hd a {
  color: #404040;
}

.hd img {
  height: 36px;
}

/* ------------首頁hero頁------------- */

.hero {
  display: flex;
}

.hero .bgc {
  background-color: #63511D;
  width: 45vw;
  height: 768px;
}

.hero img {
  width: 55vw;
  height: 768px;
}

.hero .tx {
  font-size: 0;
  width: 570px;
  height: 432px;
  background-color: #fff;

  position: absolute;
  top: 160px;
  left: 152px;

  padding-bottom: 36px;
  box-sizing: border-box;
}

.hero h1 {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 48px;
}

.hero p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 48px;
  margin-top: 0;
}

.hero a {
  color: #fff;
  background-color: #87B546;
  border-radius: 8px;
  padding: 12px 54px;
  margin-left: 48px;
}
/* ------------------------首頁卡片 */
.pros{
  margin: 60px auto;
}
.pros img {
  height: 382px;
  border-radius: 12px;
}

.pros article {
  display: flex;
  column-gap: 120px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pros h2 {
  margin-bottom: 36px;
  display: inline-block;
}

.pros .tx {
  width: 360px;
}

.pros p {
  line-height: 1.5;
}

.fo.tx {
  padding-right: 36px;
}

.eye.tx,
.su.tx {
  order: -1;
  padding-left: 36px;
}

/* --------------產品列表------------------------ */
.prod {
  padding-top: 84px;
  padding-bottom: 84px;
}

.prod h2 {
  display: inline-block;
}

.prod a {
  display: inline-block;
  width: 89px;
  margin: 0 auto;
  color: #404040;
  border: 1px solid #404040;
  border-radius: 16px;
  padding: 12px;
}

.prod h2+a {
  box-sizing: border-box;
  width: 68px;
  float: right;
}

.prod ul {
  display: flex;
  margin-top: 84px;
  gap: 36px;
}

.prod li {
  width: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prod img{
  border-radius: 16px;
}

.prod p {
  line-height: 1.5;
}

.prod a~p {
  display: none;
}

.prod a:hover~p {
  /*要做點擊 先用hover模擬*/
  display: block;
}

/*-----------------------實體通路-----------------*/
.loca {
  padding: 84px 0;
}

.fle {
  display: flex;
  width: fit-content;
  margin-left: auto;
  gap: 24px;
}

.search,#area {
  display: flex;
  align-items: center;
  height: 48px;
  width: 240px;
  padding: 0 12px;
}

.search input {
  border: none;
}

.search img {
  width: 24px;
  margin-left: auto;
}

.search, #area, ::picker(select) {
    appearance: base-select;
    border: 1px solid #404040;
    border-radius: 16px;
    box-sizing: border-box;
    width: 240px;
    color: #404040;
  }

#area option {
  color: #404040;
  padding: 8px;
}

.f{
  display: flex;
  gap: 112px;
  margin-top: 120px;
  justify-content: center;
}

.map{
  display: inline-block;
}

.map iframe{
  height: 450px;
  width: 600px;
}

.thr, .wes, .dre{
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #E8E5DC;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
  width: 440px;
  height: 136px;
  padding: 24px 32px;
  margin-bottom: 20px;
} 

.thr h2, .wes h2 ,.dre h2{
  margin-bottom: 20px;
}

.thr:hover, .wes:hover, .dre:hover{
  background-color: #E8E5DC;
  border: 1px solid #fff;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, .25);
}
/* ----------------------關於我們---------------------------- */
.about{
  padding: 160px 0;
  background-color: #E8E5DC;
}

.wra{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
}

.wra .tx{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
  width:510px;
  height: 450px;
  padding: 0 64px;
  background-image: url(../img/about_us_bg.jpg);
  background-size: cover;
}

.wra img{
  height: 450px;
}

/* --------------------頁尾----------------------------- */
footer{
  background-color: #5A6E42;
  position: relative;
  height: 256px;
}

footer>img{
  width: 104px;
  position: absolute;
  left: 20px;
  top: 20px;
}

ul{
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}

ol{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li{
  color: #fff;
}

ol li img, .soc img{
  width: 24px;
}

.soc{
  display: flex;
  gap: 20px;
  justify-content: center;
}