@import url(reset.css);

body {
  font-family: Helvetica, 'Noto Sans TC';
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  color: #404040;
}

h3 {
  font-size: 1.25rem;
  color: #404040;
  line-height: 1.5;
}

a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 16px;
}


button {
  background-color: transparent;
  border: none;
}

p,
li,
span {
  font-size: 1rem;
  line-height: 1.5;
  color: #404040;
}

/* --------------置中& 拉滿--------------- */
.bg {
  background-color: #e8e5dc;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ----------------個別產品頁------------------ */

main .outer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-top: 36px;
  margin-bottom: 54px;
}

.outer .pics {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pics img {
  width: 116px;
  height: 116px;
}

.pics button img {
  /*要做hover 想做active*/
  width: 48px;
  height: 48px;
  transition:.3s;
}

.pics button img:hover {
  transform: scale(1.2);
}

img.big {
  width: 500px;
  height: 500px;
}

.pd_tx {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
}

.pd_a {
  display: flex;
  gap: 16px;
}

.pd_a a {
  background-color: #5A6E42;
  color: #fff;
  padding: 12px;
}

.pd_a a+a {
  background-color: transparent;
  color: #404040;
  border: 1px solid #404040;
}

.bg {
  height: 360px;
}

.bg h2 {
  width: fit-content;
  padding-top: 124px;
  margin: 0 auto 24px;
}

.bg p {
  width: fit-content;
  max-width: 960px;
  margin: 0 auto 124px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr;
  grid-template-areas: 'h2 h2'
    'mon sto'
    'cpu con'
    'bat wp';
  margin: 16px auto 84px;
}


.wrapper h2 {
  grid-area: h2;
  padding: 36px;
}

.wrapper p {
  padding-left: 36px;
}

.monitor {
  grid-area: mon;
}

.store {
  grid-area: sto;
}

.cpu {
  grid-area: cpu;
}

.connect {
  grid-area: con;
}

.battery {
  grid-area: bat;
}

.waterproof {
  grid-area: wp;
}

.monitor,
.store,
.cpu,
.connect,
.battery,
.waterproof {
  padding: 36px;
  /* border-bottom: 1px solid #e8e5dc; */
  box-shadow: 0 4px #e8e5dc50;
}
